html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color:#1f242d;
}
a{
    color: #fff;
    text-decoration: none;
}
/* topsection navbar area */
.navbar{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding:25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size:30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}
.navbar ul li a.active {
    color: #7cf03d;
}
.navbar ul li a:hover {
    color: #7cf03d;
}

/* aboutsection-middle whole section with pic */
.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding:60px 9% 0;
    color: #fff;
}
.homeinfo h1{
    font-size: 55px;
}
/* leftsidenamechanger */
.homeinfo h2{
    display: inline-block;
    font-size: 32px;
    margin-top: -10px;
    
}
.homeinfo h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke:.7px #7cf03d ;
    animation:display-text 16s linear infinite;
    animation-delay:calc(-4s * var(--i));
}
@keyframes display-text{
    25%,100%{
        display: none;
    }
}
.homeinfo h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

/* end  */
.homeinfo p{
    font-size: 16px;
    margin:10px 0 25px;
}
.homeinfo .btn-sci{
    display: flex;
    align-items: center;

}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
    transition: .5s;

}
.btn:hover{
    background:transparent;
    color:#7cf03d;
    box-shadow: none;
}
.homeinfo .btn-sci .sci a{
    display: inline-flex;
     padding: 8px;
    border:2px solid #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
     border-radius:50%; 
     font-size: 20px;
     margin:0 8px;
     transition: .5s;

}.homeinfo .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: none;
}
/* image side */
.homeimg .imgbox{
    position: relative;
    width: 32vw;
    height:32vw;
    border-radius: 50%;
    padding:5px;
    display: flex;
    justify-content: center;    
    align-items: center;
    overflow: hidden;
}
.homeimg .imgbox::before,
.homeimg .imgbox::after{
    content:'';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.homeimg .imgbox::after{
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.homeimg .imgbox .imgitem{
    position: relative;
    width:100%;
    height: 100%;
    background:#1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index:1;
    overflow: hidden;

}
.homeimg .imgbox .imgitem img{
    position: absolute;
    top:30px;
    display: block;
    width:85%;
    object-fit:cover;
}
/* aboutmesection */
.aboutcontainer {
  max-height: auto;
  display: flex;
  flex-direction: column;
}

.about-content {
  border-left: 2px solid #7cf03d;
  border-right: 2px solid #7cf03d;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 20px;
  padding-top: 20px;
  height: 100vh;
  overflow: auto;
  scroll-margin-top: 80px; /* So navbar doesn't overlap */
}


#abouth3 {
  padding: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #ededed;
  -webkit-text-stroke: 0.7px #7cf03d;
  text-align: center;
}

#aboutp {
  padding: 20px;
  margin: 40px 120px 30px;
  text-align: center;
  font-size: 19.2px;
  font-family: "Sulphur Point", sans-serif;
  letter-spacing: 1.6px;
  color: #ededed;
}

/* education section */
.education {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
    padding: px;
}
#abouth3{
    font-size: 40px;
}
.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 90%;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ddd;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    width: calc(50% - 40px);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 234, 46, 0.1);
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
    transform: translateX(20px);
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    right: -10px;
    width: 20px;
    height: 20px;
    background:#7cf03d;
    border-radius: 50%;
    
}

.timeline-item:nth-child(even)::before {
    right: auto;
    left: -10px;
}

.timeline-content {
    position: relative;
    padding: 10px;
}
.timeline-content h3{
    font-size: 1.5rem;
    font-family: "Sulphur Point", sans-serif;
    font-weight: 600;
}
.year {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.year i {
    margin-right: 10px;
}
.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}
.education-row .education-column {
    flex: 1 1 30rem;
}

.education-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
    border-left: 0.2rem solid #7cf03d;
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before {
    content: '';
    position: absolute;
    top: 10;
    left: -1.2%;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    font-size: 1.5rem;
    border: .2rem solid #7cf03d;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:white;
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover:before {
    width: 100%;
}
.education-content .content .year{
    font-size: 1.5rem;
    color:  #7cf03d;
    padding-right: .5rem;
}
.education-content .content .year i {
    padding-right: .5rem;
}
.education-content .content h3 {
    font-size: 1.5rem;
    font-family: "Sulphur Point", sans-serif;
}
.education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
    font-family: "Sulphur Point", sans-serif;
}

/* myservicesection */
.services{
    padding-left:90px;
    padding-right: 90px;
}
.servicelist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.servicelist div{
    border: 20px;
    border: 2px solid #7cf03d;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.servicelist div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.servicelist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.servicelist div a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.servicelist div:hover{
    background-color: #fff;
    transform: translateY(-10px);
}
/* portfolio section */
/* portfolio section */
.portfolio {
    padding-left:90px;
    padding-right: 90px;
}

.worklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* reduced card size */
    grid-gap: 40px; 
    margin-top: 40px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    height: 450px; 
    object-fit: cover; 
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;  
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #7cf03d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; 
    text-align: center;
    font-size: 20px; 
    color: white;
    transition: height .5s;
}

.layer h3 {
    font-weight: 500;
    font-size: 20px; 
    margin-bottom: 15px;
}

.layer a {
    margin-top: 15px;
    color: #1f242d;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

/* contactmesection */
#contact {
    padding: 50px 0;
    background: #1f242d;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin: 30px 0;
    font-size: 18px;
}

.contact-left p i {
    color: #7cf03d;
    margin-right: 15px;
    font-size: 25px;
}
.btn {
    display: inline-block;
    background: #7cf03d;
    color: white;
    padding: 14px 30px;
    font-size: 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background 0.5s;
}

.btn:hover {
    background: #1f242d;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    background:#1f242d;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 16px;
    border-radius: 6px;
}

form textarea {
    resize: vertical;
}

form .btn {
    margin-top: 20px;
}

.coright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background:white;
    font-weight: 300;
    margin-top:20px;
    color: #1f242d;
}
